---
name: Build and test
permissions:
  contents: read
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build ChangeLog
        run: npx conventional-changelog-cli
      - run: |
          npm install
      - run: |
          npm run all
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: |
          npm install
          npm run package
      - uses: ./
        id: go-version-1
        with:
          working-directory: ./__tests__/testdata
      - run: |
          test '${{ steps.go-version-1.outputs.module }}' == 'example.com/go/testmodule'
      - run: |
          test '${{ steps.go-version-1.outputs.go-mod-version }}' == '1.16'
      - run: |
          test '${{ steps.go-version-1.outputs.minimal }}' == '1.16'
      - run: |
          test '${{ steps.go-version-1.outputs.latest }}' == '1.26'
      - run: |
          test '${{ steps.go-version-1.outputs.matrix }}' == '["1.16","1.17","1.18","1.19","1.20","1.21","1.22","1.23","1.24","1.25","1.26"]'
      - uses: ./
        id: go-version-2
        with:
          working-directory: ./__tests__/testdata
          unsupported: false
      - run: |
          test '${{ steps.go-version-2.outputs.module }}' == 'example.com/go/testmodule'
      - run: |
          test '${{ steps.go-version-2.outputs.go-mod-version }}' == '1.16'
      - run: |
          test '${{ steps.go-version-2.outputs.minimal }}' == '1.25'
      - run: |
          test '${{ steps.go-version-2.outputs.latest }}' == '1.26'
      - run: |
          test '${{ steps.go-version-2.outputs.matrix }}' == '["1.25","1.26"]'
      - uses: ./
        id: go-version-3
        with:
          working-directory: ./__tests__/testdata
          unsupported: false
          patch-level: true
      - run: |
          test '${{ steps.go-version-3.outputs.module }}' == 'example.com/go/testmodule'
      - run: |
          test '${{ steps.go-version-3.outputs.go-mod-version }}' == '1.16'
      - run: |
          test '${{ steps.go-version-3.outputs.minimal }}' == '1.25.7'
      - run: |
          test '${{ steps.go-version-3.outputs.latest }}' == '1.26.0'
      - run: |
          test '${{ steps.go-version-3.outputs.matrix }}' == '["1.25.7","1.26.0"]'
